.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 500px;
    margin: 2rem auto;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    & .event {
        width: 100%;
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
        border-left: 5px solid;
        padding: 0.3rem;
    }
}
