.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    & .inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        padding: 2rem;
        background-color: rgb(75, 75, 249);
        max-width: 400px;
        border-radius: 10px;
        box-shadow: 0 0 10px #000;
        margin: 2rem auto;
        color: #fff;

        & .closeButton {
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: #fff;
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: rgb(168, 210, 255);
            }
        }
    }

    & .item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & label {
            font-size: 1.2rem;
            font-weight: 600;
        }

        & input {
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid white;
        }
    }

    & .button {
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        background-color: rgb(2, 2, 135);
        color: #fff;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: rgb(2, 2, 135, 0.8);
        }

        &:disabled {
            background-color: rgb(2, 2, 135, 0.6);
        }
    }
}