.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100vw;
    background-color: rgb(75, 75, 249);
    color: #fff;

    .navBar {
        display: flex;
        align-items: center;
        gap: 1rem;

        .link {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }
    }
}

.logoBar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;

    & .icon {
        margin-right: 2px;
    }
}

.active {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}